* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --green-color1: rgb(43 87 64);
    --green-color2: rgb(43 105 73);
    --green-color3: rgb(145 180 162);
    --green-color4: rgb(204,219,211);
    --white-color: #fff;
    --white-color-light: rgb(250 252 251);
}

body{
    /* width: 100%; */
    /* position: relative; */
    overflow-X: hidden;
}

header {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 12px 4%;
    align-items: center;
    background-color: var(--green-color2);
}

nav a {
    text-decoration: none;
}

nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

nav .logo img {
    width: 25px;
    
}

nav .logo h1 {
    font-size: 30px;
    font-weight: 600;
    color: var(--white-color-light);
    font-family: 'Merriweather Sans', sans-serif;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link a {
    text-decoration: none;
    margin-right: 10px;
    color: var(--white-color);
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

.link a:hover {
    color: var(--white-color);
}



.log a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.log .login {
    color: var(--white-color);
    background-color: var(--green-color2);
    border: 2px solid var(--white-color);
    padding: 8px 15px;
    font-size: 13px;
    border-radius: 3px;
    margin-left: 30px;
}

.log .get {
    color: var(--green-color2);
    background-color: var(--white-color);
    padding: 10px 17px;
    font-size: 13px;
    border-radius: 3px;
    margin-left: 10px;
}

@media(max-width: 700px){
	.logo h1{
		font-size: 20px;
	}	
	.nav-links div a{
		display: block;
	}

	.nav-links{
		position: absolute;
		background: var(--white-color);
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}

	.nav-links div {
		padding: 30px;
	}
}


#section1 {
    display: flex;
    width: 100%;
    padding: 80px;
    /* margin: auto; */
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(45deg, var(--white-color) 30%, var(--green-color2) 110%);
}

#left-header-title .red {
    color: red;
}

#left-header-title span {
    /* display: flex; */
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    line-height: 75px;
    color: var(--green-color1);
}

#left-header-detail {
    color: #000;
    font-size: 15px;
    display: flex;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    line-height: 25px;
    margin: 25px 0;
}

#left-header-button1,
#left-header-button2 {
    margin: 40px 10px 0 0;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    border-radius: 3px;
}

#left-header-button1 {
    background: var(--green-color1);
    color: var(--white-color);
    border: 2px solid var(--white-color);
    padding: 8px 15px;
}

#left-header-button2 {
    /* background: var(--white-color); */
    color: var(--green-color1);
    border: 2px solid var(--green-color1);
    padding: 6px 13px;
}

#left-header-button2 i {
    /* width: 150px; */
    /* height: 150px; */
    /* border: 2px solid red; */
    margin: 0 10px;
    background-color: var(--green-color2);
}

#right img {
    height: 60vh;
    margin: 50px 50px;
    width: 30em;
}

@media(max-width: 700px){
	.section1 {
		flex-direction: column;
	}
}


.section2 {
    width:  90%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.section2-row {
    margin: 3%;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.left-text {
    flex-basis: 30%;
    background: var(--white-color);
    margin-bottom: 5%;
}

.left-text img {
    height: 220px;
    width: 220px;
}

.left-text h3 {
    font-size: 25px;
    font-weight: 700;
}

.left-text p {
    text-align: left;
    margin-top: 20px;
    line-height: 1.8;
}

@media(max-width: 700px){
	.section2-row{
		flex-direction: column;
	}
}


.section3 {
    width:  90%;
    margin: auto;
    padding-top: 50px;
    background: var(--white-color);
}

.boxes {
    margin: 6% auto;
    display: flex;
    flex-basis: 32%;
    position: relative;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
}


.function-header {
    font-size: 38px;
    font-weight: 500;
    text-align: center;
}

.function-header, .function-details {
    text-align: center;
    margin-bottom: 20px;
    line-height: 2;
}

.box {
    display: flex;
    /* border: 2px solid green; */
    margin: 5px 50px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 300px;
    box-shadow: 5px 5px 20px rgb(213, 218, 216);
}

.box h5 {
    color: var(--green-color2);
    font-size: 17px;
    padding-top: 10px;
    margin: -20px 0;
    line-height: 1.5;
    text-align: left;
	font-weight: 500;
    align-items: center;
    justify-content: flex-start;
}

.box1 p, .box2 p, .box3 p {
    text-align: left;
}

.number {
    display: flex;
    align-items: center;
    justify-content: flex-end;  
}

.no {
    display: inline-block;
    font-size: 120px;
    color: var(--green-color4);
}

@media(max-width: 700px){
	.boxes{
		flex-direction: column;
	}
}

.section4 {
    width:  90%;
    margin: 40px auto;
    text-align: center;
    padding-top: 50px;
    background: var(--white-color);
}

.upload-box {display: flex;
    flex-basis: 32%;
	margin: 25px 5px 25px;
	position: relative;
    align-items: center;
    justify-content: center;
    
}

.upload-box1, .upload-box2 {
    border: 2px dotted black;
    height: 270px;
    width: 350px;
    border-radius: 30px;
    margin: 25px;
}

.compare-header {
    font-size: 35px;
    font-weight: 500;
    text-align: center;
}

.compare-header, .compare-details {
    text-align: center;
    margin-bottom: 20px;
}

.drop {
    margin-top: 30px;
    font-size: 25px;
    color: gray;
}

.upload-btn {
    position: relative;
    
}

.upload {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -25px 70px 0;
    gap: 350px;
}

.compare-btn {
    color: var(--white-color);
    background-color: var(--green-color2);
    padding: 10px 17px;
    font-size: 17px;
    margin-top: 30px;
    border-radius: 5px;
    text-decoration: none;
}

@media(max-width: 700px){
	.upload-box{
		flex-direction: column;
	}
}

.section5 {
    display: flex;
    align-items: center;
    justify-content: center;
    width:  90%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background: var(--white-color);
}

.stream-img img {
    width: 50%;
    box-shadow:
                0 -10px 20px -5px var(--green-color1),
                0 10px 20px -5px var(--green-color1),
                -10px 0 20px -5px var(--green-color1);
}

.stream-text h3 {
    font-size: 40px;
    /* font-family: 'Poppins', sans-serif; */
    /* flex-direction: column; */
    line-height: 75px;
    color: var(--green-color1);
    padding-right: 40px;
}

@media(max-width: 700px){
	.section5 {
		flex-direction: column;
	}
}
  
