* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Poppins', sans-serif;  */
}

header {
    align-items: center;
    margin: auto;
    width: 100%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    background-color: rgba(241, 246, 244, 0.366);
    height: 8vh;
    width: 100%;
}

.img-circle {
    background-color:  rgb(41, 68, 41);
    height: 20px;
    width: 20px;
    border-radius: 50%;

    /* margin-bottom: 20px; */
    /* left: 10px; */
}

.logo {
    /* width: 85%; */
    font-weight: 700;
    
}

.logo span  > a {
    cursor: pointer;
    color: #000;
    text-decoration: none;
    position: relative;
    text-align: center;
}

.img-circle::before {
    /* left: 3.6rem; */
    position: absolute;
    top: 7.9rem;
}

.nav-link a {
    text-decoration: none;
    margin-right: 40px;
    color: #000;
    font-size: 17px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
  }
  
.nav-link .nav-link1 {
    font-weight: 700;
}

.nav-link a:hover {
    color: rgb(41, 68, 41);
}

.nav-log a {
    text-decoration: none;
    margin-right: 40px;
    color: #000;
    font-size: 17px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.nav-log .login {
    color: rgb(41, 68, 41);
    background-color: #fff;
    border: 2px solid  rgb(41, 68, 41);
    padding: 8px 15px;
    font-size: 15px;
    border-radius: 3px;
}

.nav-log .get {
    color: #fff;
    background-color: rgb(41, 68, 41);
    padding: 10px 17px;
    font-size: 15px;
    border-radius: 3px;
}

#main{
    display: flex;
    width: 85%;
    margin: auto;
    align-items: center;
}


#header-title {
    display: flex;
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    line-height: 85px;
    color: rgb(41, 68, 41);
}

#header-detail {
    color: #000;
    font-size: 15px;
    display: flex;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    line-height: 25px;
    margin: 15px 0;
}

#header-button {
    text-decoration: none;
    background: rgb(17, 82, 17);
    color: #fff;
    border-radius: 3px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    padding: 10px 17px;
    margin-top: 50px;
}
  
  