* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --green-color1: rgb(43 87 64);
    --green-color2: rgb(43 105 73);
    --green-color3: rgb(145 180 162);
    --green-color4: rgb(204,219,211);
    --white-color: #fff;
    --white-color-light: rgb(250 252 251);
}

body{
    /* width: 100%; */
    /* position: relative; */
    overflow-X: hidden;
}

:before, :after{
	box-sizing: border-box;
}

header {
    width: 100%;
}


/*** NAV ***/
nav {
    display: flex;
    justify-content: space-between;
    padding: 12px 4%;
    align-items: center;
    background-color: var(--green-color2);
}

nav a {
    text-decoration: none;
}

nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

nav .logo img {
    width: 25px;
    
}

nav .logo h1 {
    font-size: 30px;
    font-weight: 600;
    color: var(--white-color-light);
    font-family: 'Merriweather Sans', sans-serif;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link a {
    text-decoration: none;
    margin-right: 10px;
    color: var(--white-color);
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

.link a:hover {
    color: var(--white-color);
}



.log a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.log .login {
    color: var(--white-color);
    background-color: var(--green-color2);
    border: 2px solid var(--white-color);
    padding: 8px 15px;
    font-size: 13px;
    border-radius: 3px;
    margin-left: 30px;
}

.log .get {
    color: var(--green-color2);
    background-color: var(--white-color);
    padding: 10px 17px;
    font-size: 13px;
    border-radius: 3px;
    margin-left: 10px;
}

@media(max-width: 700px){
	.logo h1{
		font-size: 20px;
	}	
	.nav-links div a{
		display: block;
	}

	.nav-links{
		position: absolute;
		background: var(--white-color);
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}

	.nav-links div {
		padding: 30px;
	}
}



/*** INTRODUCTION ***/
#section1 {
    height: 70vh;
    display: flex;
    width: 100%;
    padding: 0 80px;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(45deg, var(--white-color) 30%, var(--green-color2) 110%);
}

#left-header-title .red {
    color: red;
}

#left-header-title span {
    /* display: flex; */
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    line-height: 75px;
    color: var(--green-color1);
}

#left-header-detail {
    color: #000;
    font-size: 15px;
    /* display: flex; */
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    line-height: 2;
    margin: 25px 0;
}

#left-header-button1,
#left-header-button2 {
    margin: 40px 10px 0 0;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    border-radius: 3px;
}

#left-header-button1 {
    background: var(--green-color1);
    color: var(--white-color);
    /* border: 3px solid var(--white-color); */
    padding: 8px 15px;
}

#left-header-button2 {
    /* background: var(--white-color); */
    color: var(--green-color1);
    border: 3px solid var(--green-color1);
    padding: 6px 13px;
}

#left-header-button2 i {
    font-size: 25px;
    margin: 0 8px;
    color: var(--green-color2);
}

#right video {
    height: 650px;
    width: 650px;
    margin: 50px 50px;
    
}

@media(max-width: 700px){
	.section1 {
		flex-direction: column;
	}
}



/*** FEATURESS ***/
.section2 {
    width:  90%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.section2-row {
    margin: 3%;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.left-text {
    flex-basis: 30%;
    background: var(--white-color);
    margin-bottom: 5%;
}

.left-text img {
    height: 220px;
    width: 220px;
}

.left-text h3 {
    font-size: 25px;
    font-weight: 700;
}

.left-text p {
    text-align: left;
    margin-top: 20px;
    line-height: 1.8;
}

@media(max-width: 700px){
	.section2-row{
		flex-direction: column;
	}
}


/*** FUNCTIONS ***/
.section3 {
    width:  90%;
    margin: auto;
    padding-top: 50px;
    background: var(--white-color);
}

.boxes {
    margin: 6% auto;
    display: flex;
    flex-basis: 32%;
    position: relative;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
}


.function-header {
    font-size: 38px;
    font-weight: 500;
    text-align: center;
}

.function-header, .function-details {
    text-align: center;
    margin-bottom: 20px;
    line-height: 2;
}

.box {
    display: flex;
    /* border: 2px solid green; */
    margin: 5px 50px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 300px;
    box-shadow: 5px 5px 20px rgb(213, 218, 216);
}

.box h5 {
    color: var(--green-color2);
    font-size: 17px;
    padding-top: 10px;
    margin: -20px 0;
    line-height: 1.5;
    text-align: left;
	font-weight: 500;
    align-items: center;
    justify-content: flex-start;
}

.box1 p, .box2 p, .box3 p {
    text-align: left;
}

.number {
    display: flex;
    align-items: center;
    justify-content: flex-end;  
}

.no {
    display: inline-block;
    font-size: 120px;
    color: var(--green-color4);
}

@media(max-width: 700px){
	.boxes{
		flex-direction: column;
	}
}


/*** COMPARISON ***/
.section4 {
    width:  90%;
    margin: 40px auto;
    text-align: center;
    padding-top: 50px;
    background: var(--white-color);
}

.upload-box {display: flex;
    flex-basis: 32%;
	margin: 25px 5px 25px;
	position: relative;
    align-items: center;
    justify-content: center;
    
}

.upload-box1 .upbox,
.upload-box2 .upbox {
    border: 2px dotted black;
    height: 270px;
    width: 350px;
    border-radius: 30px;
    margin: 25px;
}
 
.compare-header {
    font-size: 35px;
    font-weight: 500;
    text-align: center;
}

.compare-header, .compare-details {
    text-align: center;
    margin-bottom: 20px;
}

.drop {
    margin-top: 30px;
    font-size: 25px;
    color: gray;
}

.upload-btn {
    position: relative;
    
}
.compare-btn {
    color: var(--white-color);
    background-color: var(--green-color2);
    padding: 10px 17px;
    font-size: 17px;
    margin-top: 30px;
    border-radius: 5px;
    text-decoration: none;
}

@media(max-width: 700px){
	.upload-box{
		flex-direction: column;
	}
}


/*** WRAP EFFECTS ***/
.effect-wrap .effect{
	position: absolute;
	z-index: -1;
}
.effect-1{
	width: 30px;
	height: 30px;
	border: 4px solid #8a49ff;
	right: 10%;
	bottom: 14%;
	animation: spin 10s linear infinite;
}
.effect-2{
	left: 2%;
	bottom: 20%;
	width: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	animation: topBounce 3s ease-in-out infinite;
}
.effect-2 div{
	height: 3px;
	width: 3px;
	background-color: orange;
	margin: 0 3px 3px;

}

@keyframes spin{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);	
	}
}
@keyframes topBounce{
	0%, 100%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(25PX);
	}
}
@keyframes leftBounce{
	0%, 100%{
		transform: translateX(0);
	}
	50%{
		transform: translateX(25PX);
	}
}


/*** NEWS ***/
.section5 {
    width: 90%;
	margin: 20px auto;
	padding-top: 100px;
	text-align: center;
    background: var(--white-color);
}

.stream-section {
    flex-basis: 35%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
	/* background: #fff3f3; */
	/* padding: 15px; */
	/* cursor: pointer; */
	display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.stream-img img {
    height: 650px;
    width: 650px;
    /* border: 2px solid rgb(171, 171, 237); */
    display: inline-block;
    position: relative;
    margin: 50px 0 0 80px;
    box-shadow: -25px 18px var(--green-color2),
                -25px -20px var(--green-color2),
                0 0 0 0  var(--green-color2);
 
}

.stream-text {
   /* border: 2px solid blue; */
   margin: 80px;
   /* width: 400px; */
}

.stream-text h3 {
    font-size: 30px;
    color: var(--green-color2);
    margin-bottom: 25px;
}

.stream-text p {
    line-height: 2;
    margin-bottom: 25px;
}

.stream-text a {
    color: var(--white-color);
    background-color: var(--green-color2);
    padding: 10px 17px;
    font-size: 17px;
    margin-top: 30px;
    border-radius: 5px;
    text-decoration: none;
}

@media(max-width: 700px){
	.stream-section {
		flex-direction: column;
	}
}


/*** BRAND PARTNERS ***/
.section6 {
    width:  90%;
    margin: 40px auto;
    text-align: center;
    padding-top: 50px;
    background: var(--white-color);
}

.section6 h3 {
    font-size: 30px;
    margin: 70px;
    font-weight: 500;
}

.section6 .partners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

@media(max-width: 700px){
	.partners {
		flex-direction: column;
	}
}

/*** FOOTER ***/

footer {
    height: 13em;
    width: 100%;
	text-align: center;
	padding: 30px 0;
    background-color: var(--green-color2);
}

.footer-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 80px;
}

footer a {
    text-decoration: none;
}

.footer-section .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.footer-section .logo img {
    width: 50px;
    
}

.footer-section .logo h1 {
    font-size: 50px;
    font-weight: 600;
    color: var(--white-color-light);
    font-family: 'Merriweather Sans', sans-serif;
}

.footer-links  a{
    margin-right: 10px;
    color: var(--white-color);
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.connect {
    color: var(--white-color);
    font-size: 35px;
    cursor: pointer;
}

.connect i {
    margin-left: 35px;
}

.copy-connect {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--white-color);
    /* margin-bottom: 80px; */
}


@media(max-width: 700px){
	footer{
		flex-direction: column;
	}
}
